{% extends "generic.html" %}
{% block content %}
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, provident quas accusantium expedita at amet neque illum modi voluptate dolorum laboriosam odit officiis tempora inventore... <hr/>
  <b>rerum quo dignissimos necessitatibus</b>
   deserunt, velit, dolor distinctio. Et nesciunt accusamus, quasi esse autem dignissimos rerum eaque aspernatur neque ratione? Deserunt ea assumenda quos iusto culpa expedita! Laborum <hr/>
   <b>error quidem, perferendis obcaecati, unde...</b> 
   repellendus ratione officia quis hic quasi id minus dignissimos atque sit sunt. Neque quidem voluptate distinctio. Totam, dolores fugiat. Odit, consectetur repellat! Sed natus ut recusandae corporis reiciendis <hr />
   <b>nulla explicabo, illum amet autem</b>
   quos ab nobis deserunt quidem sit esse dolor illo. Quas voluptatibus ut aliquam nesciunt eveniet, aspernatur nam voluptatem officia! Odit, assumenda consequatur placeat unde itaque ipsa inventore labore dolorem!</p>

{% endblock content %}